/* Need to include the base Roam Research site.css because whatever we compile will override everything */
// @import 'https://roamresearch.com/assets/css/less-compiled/site.css';
@import 'roam';

/* Features Includes */
// @import 'global/features/editor/image-zoom/main';
// @import 'global/features/editor/bullet-collapse/main';
// @import 'global/features/editor/bullet-collapse/main-old';
// @import 'global/features/editor/bullet-zoom-focus/main';
// @import 'global/features/editor/wide-layout/main';
// @import 'global/features/left-sidebar/mosaic/main';
// @import 'global/features/right-sidebar/masonry/main';
// @import 'global/features/right-sidebar/stacked/main';
// @import 'global/features/scrollbars/mosaic/main';
// @import 'global/features/scrollbars/simple/main';
// @import 'global/features/search/full-width';

// @import 'global/features/sticky-headers/main';

// @import 'global/features/top-bar/mosaic/main';
// @import 'global/features/top-bar/hide-top-bar/main';

// TODO: Test this properly and document better
// Use below to switch between themes based on system dark/light mode
// @media (prefers-color-scheme: dark) {
// }

/* Main Theme Include */
@import 'themes/railscast/main';

// @import 'features/editor/bullet-zoom-focus/index';
@import 'features/editor/masonry/index';
// @import 'features/editor/daily-log/index';
