/* Icons */

.bp3-button {
  > sub {
    //filter count subscript number
    padding-left: 3px;
    color: var(--filter__color_subscript);
  }

  .bp3-icon {
    color: var(--icon__color);
  }

  .bp3-icon-standard {
    color: var(--icon__color);
  }

  .bp3-icon-large {
    color: var(--icon__color);
  }

  &:before {
    color: var(--icon__color);
  }

  &:focus {
    outline: var(--icon__color) auto 2px;
  }

  &.bp3-minimal {
    color: var(--icon__color);
    font-weight: 700;

    &:hover {
      background-color: var(--icon__background-color_hover);
      color: var(--icon__color_hover) !important;
    }
  }

  &:not([class*='bp3-intent-']) {
    // need this for word and character count
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    color: var(--icon__color);
    font-weight: 700;

    &:hover {
      background-color: var(--icon__background-color_hover);
      color: var(--icon__color_hover) !important;
    }
  }

  &[class*='bp3-icon-']::before {
    color: inherit;
  }
}

.bp3-icon-star:before {
  color: var(--icon__color);
}

// TODO this is a fix for word count interferring with # color option
.rm-block-main .bp3-button:not([class*='bp3-intent-']) {
  min-height: 25px;
}

.rm-displaced-button {
  color: var(--accent__color_alert);
}
