/* Scrollbars - NOTE: Requires 'gloabl/features/scrollbars/mosaic/main' or 'gloabl/features/scrollbars/simple/main' to be installed */

// :root {
//   --scrollbar-track: #2b2b2b;
//   --scrollbar-thumb: rgba(153, 153, 153, 0.1);
// }

// div::-webkit-scrollbar {
//   width: 2px;
// }

div::-webkit-scrollbar-track {
  background-color: var(--scrollbar-thumb) !important;
}

div::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-track) !important;
  border-color: var(--scrollbar-thumb);

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: var(--scrollbar-thumb);
  }
}
