/* Topbar */

.roam-topbar {
  background-color: var(--rm-topbar__background-color);
  border-bottom: 0.5px solid var(--rm-topbar__border);
}

.bp3-input {
  background: var(--rm-search__background);
  box-shadow: none;
  color: var(--rm-menu__color);
  font-size: 0.85em;

  &::placeholder {
    color: var(--rm-search__color_page);
  }

  &:focus {
    border: var(--rm-search__border);
    box-shadow: 0 0 0 1px var(--rm-search__border);
  }

  &[readonly] {
    background: var(--rm-search__background);
    box-shadow: none;
    font-size: 0.85em;
  }

  .bp3-active {
    border: var(--rm-search__border);
    box-shadow: 0 0 0 1px var(--rm-search__border);
  }
}

.bp3-input-group {
  > .bp3-icon {
    color: var(--rm-search__color_page);
  }
}
