/* Alias */

.rm-alias-tooltip__content {
  max-width: 500px;
  font-family: var(--main-font__font-family);
  font-size: var(--main-font__font-size);
}

.rm-alias--page {
  font-style: italic;
}

/* Legacy Alias */
span[style*='background-color: rgb(235, 241, 245); border-radius: 4px;'] {
  background-color: var(--alias__background-color) !important;
  border-radius: 0 !important;
  color: var(--alias__color) !important;
  cursor: alias;
  padding: 0 !important;
}
