/* Menus */

.bp3-popover {
  .bp3-popover-content {
    background: var(--menu__background);
    border-radius: 4px;
    color: var(--menu__color);
  }

  .bp3-popover-arrow-fill {
    fill: var(--menu__background);
  }
}

.bp3-menu {
  background: var(--menu__background);
  border-radius: 4px;
  color: var(--menu__color);
  padding-bottom: 10px;
}
.bp3-menu-item.menu-item {
  color: var(--menu__color);
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .setting {
  background-color: var(--linked-reference__backgound-color_1);

  &:hover {
    background-color: var(--db-menu__background-color_hover);
  }
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown a {
  color: var(--dialog__color);
}

/* Slash menu and inline search */
div {
  .bp3-elevation-3 {
    background-color: var(--inline-search__background-color) !important;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #222, 0 2px 15px #222;
    color: var(--menu__color);
    font-size: 0.85em;
  }
}

[title~='Search'] {
  color: var(--menu__color) !important;
}

/* Row highlight in search menus */
.bp3-elevation-3 .dont-unfocus-block[style*='background-color: rgb(213, 218, 223);'],
.bp3-popover-content .rm-menu-item[style*='background-color: rgb(213, 218, 223);'] {
  background-color: var(--search__background-color_selected-row) !important;
}

/* Alignment and Header buttons in the bullet popover menu */
button {
  &[style*='background-color: rgba(72, 176, 240, 0.5);'] {
    // Selected buttion
    background-color: var(--linked-reference__backgound-color_1) !important;
    border: 1px solid var(--icon__color) !important;
  }

  &[style*='border: 0.5px solid rgb(206, 217, 224);'] {
    // Default buttons
    background-color: var(--linked-reference__backgound-color_1) !important;
    border: 1px solid var(--linked-reference__backgound-color_1) !important;
  }
}
/* Save Status */
.bp3-transition-container {
  z-index: 1000;
}
