.bp3-card {
  background-color: var(--reference-item-bg);
}

.rm-mermaid svg {
  .node rect,
  .node circle,
  .node ellipse,
  .node polygon,
  .node path,
  .actor {
    fill: var(--page-brackets) !important;
    stroke: var(--search-outline) !important;
    stroke-width: 1px;
  }

  text {
    font-family: var(--main-font) !important;

    &.actor > tspan {
      fill: var(--main-font-color) !important;
      stroke: none;
    }
  }

  .messageText {
    fill: var(--main-font-color) !important;
    stroke: none !important;
  }

  line {
    stroke: var(--hr) !important;
    fill: currentColor;
  }
}

.roam-body .roam-app svg div {
  color: var(--main-font-color);
}

#arrowhead {
  stroke: var(--hr) !important;
}
