/* Version bullet */

.version-bullet {
  background-color: var(--bullet-version) !important;
}

/* Version controls */

.rm-version-choice {
  border-bottom: 0.5px solid var(--bullet-version) !important;
  padding-left: 25px;
}

.rm-button-selected {
  border-bottom: 2px solid var(--bullet-version);
}
