/* Alias */

.rm-alias--block {
  background-color: var(--alias-bg) !important;
  border-radius: 0 !important;
  color: var(--alias-font-color) !important;
  cursor: alias;
  padding: 0 !important;
}

.rm-alias-tooltip__content {
  max-width: 500px;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}
