/* Page link */

.rm-page-ref-brackets, // legacy selector
.rm-page-ref__brackets {
  color: var(--page-brackets);
}

.rm-page-ref--link {
  color: var(--page-link-color);
}

.rm-page-ref-namespace-color, // legacy selector
.rm-page-ref--namespace {
  color: var(--page-link-namespace-color);
}

.rm-heading-level-1 {
  .rm-page-ref--link {
    color: var(--h1-font__link--color);
  }
}

.rm-heading-level-2 {
  .rm-page-ref--link {
    color: var(--h2-font__link--color);
  }
}

.rm-heading-level-3 {
  .rm-page-ref--link {
    color: var(--h3-font__link--color);
  }
}
