/* Left sidebar */

.roam-body {
  .roam-app {
    .roam-sidebar-container {
      .roam-sidebar-content {
        .starred-pages-wrapper {
          padding: 8px 0 !important;

          .flex-h-box {
            padding: 0 20px;
          }

          .starred-pages {
            .page {
              padding: 8px 20px;
            }
          }
        }
      }
    }
  }
}

#roam-sidebar-logo {
  img {
    opacity: 0.4;
  }

  span {
    display: none;
  }
}
