/* Typography */

.rm-heading-level-2 > .rm-block__self .rm-block__input {
  letter-spacing: 0.001em;
}

.rm-heading-level-3 > .rm-block__self .rm-block__input {
  letter-spacing: 0.002em;
}

.roam-body {
  .roam-app {
    color: var(--main-font__color);

    // h1 {
    //   color: var(--h1__color);

    //   .level2 {
    //     margin-top: 4px !important;

    //     a {
    //       color: var(--page-link__color);
    //     }
    //   }
    // }

    // .roam-article {

    // h1 {
    //   font-family: var(--h1__font-family);

    //   div {
    //     font-family: var(--h1__font-family);

    //     textarea {
    //       font-family: var(--h1__font-family);
    //     }
    //   }
    // }

    // h2 {
    //   font-family: var(--h1__font-family);

    //   div {
    //     font-family: var(--h1__font-family);

    //     textarea {
    //       font-family: var(--h1__font-family);
    //     }
    //   }
    // }

    // h3 {
    //   font-family: var(--h1__font-family);

    //   div {
    //     font-family: var(--h1__font-family);

    //     textarea {
    //       font-family: var(--h1__font-family);
    //     }
    //   }
    // }
    // }
  }
}

// em,
// .rm-italics {
//   color: var(--emphasis__color);
// }

// strong,
// .rm-bold {
//   color: var(--strong__color) !important;
//   font-weight: 700;
// }

// .rm-strikethrough {
//   opacity: 0.6;
// }

// .rm-highlight {
//   background-color: var(--highlight__background-color);
//   color: var(--highlight__color);
//   padding: 2px 2px 0;
//   margin: 0 -2px;

//   .rm-page-ref-link-color {
//     color: var(--highlight-link-color);
//   }
// }

// /* Calculation Results */
// .rm-calc-val {
//   color: var(--calculation__color) !important;
// }
