.roam-body {
  .roam-app {
    .roam-sidebar-container {
      background-color: var(--left-sidebar-bg);

      .roam-sidebar-content {
        .log-button {
          color: var(--left-sidebar-font-color);
          font-size: var(--left-sidebar-font-size);

          &:hover {
            background-color: var(--left-sidebar-hover-bg);
            color: var(--left-sidebar-font-color-hover);
          }
        }
        .starred-pages-wrapper {
          color: var(--left-sidebar-shortcuts-title-color);
          padding: 8px 0 !important;

          .flex-h-box {
            padding: 0 20px;
          }

          .starred-pages {
            // padding: 0 20px;
            .page {
              color: var(--left-sidebar-shortcuts-color);
              font-size: var(--left-sidebar-shortcuts-font-size);
              padding: 8px 20px;

              &:hover {
                background-color: var(--left-sidebar-hover-bg);
                color: var(--left-sidebar-font-color-hover);
              }
            }
          }
        }
      }
    }
  }
}

#roam-sidebar-logo img {
  opacity: 0.4;
}

#roam-sidebar-logo span {
  display: none;
}
