// TODO: Add proper credits
/* Thanks to Palash Karia */

/* OSX-like scrollbars 🤓 (width increases on hover)
 * default width is 6px - increases to 8px on hover
 * spacing around is 2px (defined by the same-colored border)
*/
div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 20px;
}

div::-webkit-scrollbar-track {
  // background: transparent;
  border-radius: 20px;
}

div::-webkit-scrollbar-thumb {
  // background-color: #d1dbe2;
  // border: 3px #fcfcfc solid;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}

div::-webkit-scrollbar-thumb:hover {
  // background-color: rgba(0, 0, 0, 0.4);
  // border: 2px #fcfcfc solid;
  border-width: 2px;
  border-style: solid;
}

#right-sidebar {
  .rm-reference-main {
    padding-right: 5px;
  }
}
