.rm-block-ref {
  background-color: var(--block-ref-bg);
  border-bottom: 1px solid var(--block-ref-border);
  font-family: var(--main-font);
  font-size: var(--block-ref-font-size);
  margin: 0;
  padding: 0 2px;

  &:hover {
    background-color: var(--block-ref-hover-bg);
    color: var(--block-ref-hover);
  }
}
