.rm-emoji-button {
  background-color: var(--rm-emoji__background-color) !important;
  border: 0.5px solid var(--rm-emoji__border) !important;
  color: var(--rm-emoji__color) !important;
  font-family: var(--rm-main-font__font-family);
  font-size: var(--rm-main-font__font-size);
}
