select {
  background-color: var(--select-menu__background-color) !important;
  border-color: var(--search__border);
  border-radius: 4px;
  font-size: 0.857142857rem;
  padding: 1px 5px;
}

// It would be awesome to use something like this to have the width of the select box change according to the content http://jsfiddle.net/FSsG8/444/
