@import '../../global/variables';

// TODO Add variables for #mobile-capture
// the inherit and initial values are used when there isn't a value defined by Roam CSS, not sure if these will work

:root {
  /* Roam default variables */

  --primary-color: #137cbd;
  --s1: 8px;
  --background-color: #e1e8ed;

  /* Primary fonts */

  --rm-main-font__font-family: 'Inter', sans-serif;
  --rm-main-font__color: #999;
  --rm-main-font__font-size: 14px;
  --rm-code-font__font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  --rm-code-font__color: #6d9cbe;
  --rm-code-font__font-size: 0.9rem;
  --rm-caret__color: #0080ff;

  /* Fonts */

  --rm-alias__background-color: transparent; /* Legacy alias */
  --rm-alias__color: #fecf2b; /* Legacy alias */
  --rm-attr__color: rgba(17, 137, 189, 0.65);
  --rm-block-ref__background-color: none;
  --rm-block-ref__border-bottom: rgba(254, 207, 43, 0.6);
  --rm-block-ref__font-size: 1em;
  --rm-block-ref__color_hover: #eb9854;
  --rm-block-ref__background-color_hover: #111;
  --rm-breadcrumb__background-color: transparent;
  --rm-query__color_query-string: #5c7080;
  --rm-breadcrumb__font-size: 13px;
  --breadcrumb-line-height: 0.85em;
  --rm-calculation__color: #ff6000;
  --rm-db-menu__background-color: #333;
  --db-menu-border: #3d3d3d;
  --db-menu-header: #5c7080;
  --db-menu-item: #eb9854;
  --rm-db-menu-title__color: #eb9854;
  --rm-db-menu__background-color_hover: rgba(167, 182, 194, 0.3);
  --rm-dialog__background: #333;
  --rm-dialog__color: #eee;
  --rm-emphasis__color: #fc5963;
  --rm-external-link__color: #8dbb40;
  --rm-h1__font-family: var(--rm-main-font__font-family);
  --rm-h1__font-family-color: #1189bd;
  --rm-h1__font-family-size: 2.25em;
  --rm-h1__color_link: var(--rm-page-link__color);
  --rm-h2__font-family: var(--rm-h1__font-family);
  --rm-h2__font-family-color: #1189bd;
  --rm-h2__font-family-size: 1.625em;
  --rm-h2__color_link: var(--rm-page-link__color);
  --rm-h3__font-family: var(--rm-h1__font-family);
  --rm-h3__font-family-color: #1189bd;
  --rm-h3__font-family-size: 1.2rem;
  --rm-h3__color_link: var(--rm-page-link__color);
  --rm-highlight__background-color: #008aff5e;
  --rm-highlight__color: #bbb;
  --rm-highlight-link-color: #ff6000;
  --rm-left-sidebar__color: #1189bd;
  --rm-left-sidebar__color_hover: #e98924;
  --rm-left-sidebar__font-size: 1rem;
  --rm-left-sidebar-shortcuts__color: var(--rm-left-sidebar__color);
  --rm-left-sidebar-shortcuts__font-size: 1rem;
  --rm-left-sidebar-shortcuts__color_title: var(--rm-left-sidebar__color);
  --rm-page-brackets__color: rgba(228, 124, 67, 0.25);
  --rm-page-link__color: #eb9854;
  --rm-page-link-namespace__color: #ebd454;
  --rm-page-link-namespace__color: #f57030;
  --rm-menu__color: #e98924;
  --rm-menu__background: #333;
  --ref-count-font-size: 0.8em;
  --rm-right-sidebar__color_title-closed: var(--rm-main-font__color);
  --rm-right-sidebar__color_title-closed: #eb9854;
  --rm-right-sidebar__background-color: #323232;
  --rm-right-sidebar-masonry__background-color: var(--rm-body__background-color);
  --rm-right-sidebar-masonry__border: #3d3d3d;
  --rm-right-sidebar__border: #e9892475;
  --rm-search__background: #252525;
  --rm-search__color_body: #8a9ba8;
  --rm-search__color_page: #af671c;
  --rm-search__color_new-page: #8dbb40;
  --rm-search__border: #e9892475;
  --rm-search__background-color_selected-row: #4c4c4c;
  --rm-strong__color: #508bb5;
  --rm-tag__color: #777;
  --rm-tag__color_hover: #fff;
  --rm-tag__color_hashtag: #ab6634;
  --rm-tag__background-color_hover: #e98924;
  --rm-tag__padding: 0.071428571em 0.428571429em 0.214285714em;
  --rm-tag__border-radius: 2em;

  /* Backgrounds and objects */

  --rm-block-highlight__background-color_selected: #00588e;
  --rm-block-highlight__background-color_active: rgba(255, 255, 255, 0.05);
  --rm-block-highlight__background-color_mentions: #312c28; // This is the Mentions background highlight color
  // --rm-body__background-color: #232323;
  --rm-body__background-color: #2c2c2c;
  --rm-bullet__background-color: rgba(225, 117, 28, 0.3);
  --rm-bullet__border_closed: rgba(225, 117, 28, 1);
  --rm-bullet__border_closed-right-sidebar: var(--rm-bullet__border_closed);
  --rm-bullet__background-color-outline: #404040;
  --rm-bullet__background-color-outline-highlight: #ff9500;
  --rm-bullet__background-color-outline-hover: #ff9500b3; //recommend this be 70% of --rm-bullet__background-color-outline-highlight
  --rm-bullet__background-color-position: 4px;
  --rm-version-bullet__background-color: #137cbd;
  --checkmark-border: #137cbd;
  --rm-todo-checkmark__background-color: #555;
  --rm-todo-checkmark__color: #137cbd;
  --rm-code__background: #002b36;
  --rm-datepicker__background-color: transparent;
  --rm-datepicker-today__border: #d9822b7a;
  --rm-datepicker__color: var(--rm-menu__color);
  --datepicker-select-bg: #444;
  --rm-hr__border: rgba(225, 117, 28, 0.5);
  --rm-icon__background-color_hover: rgba(167, 182, 194, 0.3);
  --rm-icon__color: #e78924;
  --rm-icon__color_hover: #e78924;
  --rm-inline-search__background-color: #333;
  --rm-inline-block__background-color: transparent;
  --inline-block__background-color_hover: var(--rm-linked-reference__backgound-color_1);
  // --rm-left-sidebar__background-color: #2b2b2b;
  --rm-left-sidebar__background-color: #323232;
  --rm-left-sidebar__background-color_hover: #1f1f1f;
  --rm-linked-reference__backgound-color_1: #d8ac6e1a; // JH: Railscast uses 1 semi-transparent color for all three bg values
  --rm-linked-reference__backgound-color_2: #d8ac6e1a;
  --rm-linked-reference__backgound-color_3: #d8ac6e1a;
  --rm-section-divider_border-top: #e9892475;
  --rm-select-menu__background-color: #232323;
  --rm-topbar__background-color: var(--rm-body__background-color);
  --rm-topbar__border: #333;

  /* YouTube Timestamp js extension */
  --yt-play-button__color: rgba(225, 117, 28, 1);
  --yt-play-button__background-color: rgba(108, 109, 36, 0.1);
  --yt-play-button__background-color_hover: rgba(109, 77, 36, 0.25);

  /* Misc */

  --rm-pages-delete__background-color: #222; // modal variable
  --rm-pages-delete__border-color: #d8e1e8; // JH: modal variable, New variable TODO add to body .delete-all-dialog-items
  --rm-pages-header__background-color: #262626;
  --rm-pages-header__color: #bfccd6;
  --rm-pages-mentions__background-color_empty: #3a3a3a;
  --rm-pages-mentions__background-color: #ff6000;
  --rm-pages-mentions__background-color-empty: #737373;
  --rm-pages-row__background-color_highlight: #292929;
  --rm-pages-search-field__background-color: #3a3a3a;
  --rm-pages-search-field__border-color: #e9892475;
  // --rm-pages-search-field__border-color: var(--rm-search__border); //no longer exists in Roam, add if needed for Theme or replace with inherit or initial?
  --rm-pages-table__border-color: #2f373d;
  --rm-pages-header__color_sorted: #508bb5;

  --rm-table__border: #444;
  --rm-table__font-size: 0.85rem;

  --rm-kanban-board__background-color: #333333;
  --rm-kanban-card__background-color: #555555;
  --rm-kanban-card__color: #6d9cbe;
  --rm-kanban-column__background-color: #454545;
  --rm-kanban-column__color: #e98924;

  --rm-encrypted__color: #ff6000;
  --rm-encrypted__background-color: #222;

  --rm-pomodoro__background: transparent;
  --rm-pomodoro__color: #fc5963;
  --rm-pomodoro__border-color: #fc596370;

  --block-callout__background-color_grey: #333;
  --block-callout__background-color_blue: rgba(0, 170, 255, 0.1);
  --block-callout__background-color_red: rgba(249, 87, 56, 0.25);
  --block-callout__background-color_orange: rgba(238, 150, 75, 0.25);
  --block-callout__background-color_yellow: rgba(244, 211, 94, 0.2);
  // --block-callout__border--grey: #222;  // TODO considering adding a border option. Doesn't work so well on child

  --rm-blockquote__color: rgba(109, 156, 190, 0.89);
  --rm-blockquote__font-size: 14px;
  --rm-blockquote__border_color: #30404d;
  --rm-blockquote__background-color: none;
  --rm-blockquote-cite: #777;

  --rm-emoji__background-color: #2d2d2d;
  --rm-emoji__border: rgba(225, 117, 28, 0.4);
  --rm-emoji__color: #aaa;

  --no-query-results: 'Query returned no results';
  --no-query-results-color: #fc5963;
  --rm-query__border: #f2c98f1a;

  /* Seasonal colors for date links */
  --page-link-date__color_q1: #50b2c0;
  --page-link-date__color_q2: #c5d86d;
  --page-link-date__color_q3: #ff6b6b;
  --page-link-date__color_q4: #ca7d4a;

  /* Scrollbar settings - to disable set values to none */

  --rm-scrollbar-thumb: #323232;
  --rm-scrollbar-track: rgba(153, 153, 153, 0.1);

  /* Saving icon colors */

  --rm-status-icon__background-color_saving-local: #99280f;
  --rm-status-icon__background-color_saving-remote: #d9822b;
  --rm-status-icon__background-color_synched: #0f9960;

  /* JH overrides */
  /*   --rm-main-font__font-family: 'Calendas Plus', serif;
  --rm-main-font__font-size: 16px;
  --rm-code-font__font-size: 0.9em;  */
}
