/* Code - inline */

code {
  background-color: var(--code__background);
  border: none;
  border-radius: 4px;
  color: var(--code-font__color);
  font-family: var(--code-font__font-family);
  font-size: var(--code-font__font-size);
  padding: 3px 4px;
}
