/* Code - inline */

code {
  background-color: var(--code-bg);
  border: none;
  border-radius: 4px;
  color: var(--code-font-color);
  font-family: var(--code-font);
  font-size: var(--code-font-size);
  padding: 3px 4px;
}
