/* Date picker */

.bp3-popover {
  .bp3-popover-content {
    .bp3-datepicker {
      background-color: var(--datepicker__background-color);
      color: var(--datepicker__color);

      .DayPicker-Day.DayPicker-Day--isToday {
        .bp3-datepicker-day-wrapper {
          border: 1px solid var(--datepicker-today__border);
        }
      }
    }
  }
}

/* Month and year selectors */
.bp3-html-select {
  &.bp3-minimal {
    select {
      background-color: var(--menu__background) !important;
      color: var(--menu__color);

      &:hover {
        background: rgba(167, 182, 194, 0.3);
        color: var(--menu__color);
      }
    }
  }
}
