/* emoji */

.rm-emoji-button {
  background-color: var(--emoji__background-color) !important;
  border: 0.5px solid var(--emoji__border) !important;
  color: var(--emoji__color) !important;
  font-family: var(--main-font__font-family);
  font-size: var(--main-font__font-size);
}
