/* emoji */

.rm-emoji-button {
  background-color: var(--emoji-bg) !important;
  border: 0.5px solid var(--emoji-border) !important;
  color: var(--emoji-color) !important;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}
