/* Kanban */

.kanban-board {
  background-color: var(--kanban-board-bg);
}

.kanban-column {
  background-color: var(--kanban-column-bg);
  margin: 0px 4px 0px 4px;
  min-width: 200px;
}

.kanban-title {
  color: var(--kanban-column-font-color);
}

.kanban-card {
  background-color: var(--kanban-card-bg);
  color: var(--kanban-card-font-color);
}

div {
  .kanban-title {
    font-family: var(--main-font);
  }

  .kanban-card {
    font-family: var(--main-font);
  }
}
