/* Youtube Timestamp styles
  https://c3founder.github.io/Roam-Enhancement/
*/

.timestamp-control {
  background-color: var(--yt-play-button__background-color);
  color: var(--yt-play-button__color);
  margin-right: 8px;
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 5px;
  border-radius: 50% !important;
  // border-style: inset;
  // border-color: #ff3200;
  font-size: 0.9em;
  padding: 5px 8px !important;
  border: 1px solid;
  opacity: 0.65;
}
.timestamp-control:hover {
  background-color: var(--yt-play-button__background-color_hover);
  // border-style: outset;
  // color: #ffffff;
  opacity: 1;
}
/* Hide YouTube Breadcrumb */
.parent-path-wrapper > div > span > div > iframe,
.parent-path-wrapper > div > span > .hoverparent {
  display: none;
}
