/* Breadcrumbs */

.rm-zoom.zoom-path-view,
.rm-zoom.zoom-mentions-view {
  font-size: var(--rm-breadcrumb__font-size);
}

.rm-zoom {
  .parent-path-wrapper {
    //TODO this is a fix for word wrap for long line length  breadcrumb items
    max-height: none;
    white-space: normal;
  }

  &.zoom-path-view {
    .rm-zoom-mask {
      background-color: var(--rm-breadcrumb__background-color);
      // mix-blend-mode: unset;
    }
  }
}
