/* Topbar */

.rm-topbar {
  background-color: var(--topbar__background-color);
  border-bottom: 0.5px solid var(--topbar__border);
}

.bp3-input {
  background: var(--search__background);
  // box-shadow: none;
  color: var(--menu__color);
  // font-size: 0.85em;

  &::placeholder {
    color: var(--search__color_page);
  }

  &:focus {
    border: var(--search__border);
    box-shadow: 0 0 0 1px var(--search__border);
  }

  &[readonly] {
    background: var(--search__background);
  }

  .bp3-active {
    border: var(--search__border);
    box-shadow: 0 0 0 1px var(--search__border);
  }
}

.bp3-input-group {
  > .bp3-icon {
    color: var(--search__color_page);
  }
}

//saving status icon dot
.rm-sync--saving-local {
  background-color: var(--status-icon__background-color_saving-local);
}
.rm-sync--saving-remote {
  background-color: var(--status-icon__background-color_saving-remote);
}
.rm-sync--synced {
  background-color: var(--status-icon__background-color_synched);
}
