/* Alias */

.rm-alias-tooltip__content {
  max-width: 500px;
  font-family: var(--main-font__font-family);
  font-size: var(--main-font__font-size);

  .rm-bq {
    color: var(--blockquote__color);
    border-left: 5px solid var(--blockquote__border_color);
  }
}

.rm-alias--page {
  color: var(--alias__color);

  &:hover {
    color: var(--alias__color);
  }
}

/* Legacy Alias */
span[style*='background-color: rgb(235, 241, 245); border-radius: 4px;'] {
  background-color: var(--alias__background-color) !important;
  color: var(--alias__color) !important;
}
