/* Bullet Outline */

.rm-multibar {
  border-color: var(--rm-bullet-outline__border);
  // border-right: 3px solid #bfccd6;
  // width: calc(1px + calc(1px - -6px));
  z-index: 8;

  &:hover {
    border-right: 3px solid var(--rm-bullet-outline__border_hover);
  }
}

.rm-level-0 > .rm-multibar {
  opacity: 1;
}

.dnd-separator .dnd-drop-bar {
  background-color: var(--rm-dnd-drop-bar__background-color, #5c7080);
}
