/* Code - inline */

code {
  background-color: var(--rm-code__background);
  border: var(--rm-code-inline__border);
  color: var(--rm-code-font__color);
  font-family: var(--rm-code-font__font-family);
  font-size: var(--rm-code-font__font-size);
}
