/* Code - inline */

code {
  background-color: var(--code__background);
  border: var(--code-inline__border);
  color: var(--code-font__color);
  font-family: var(--code-font__font-family);
  font-size: var(--code-font__font-size);
}
