/* Date picker */

.bp3-datepicker .DayPicker-Day {
  &.DayPicker-Day--isToday .bp3-datepicker-day-wrapper {
    border: 1px solid var(--rm-datepicker-today__border);
  }

  &.DayPicker-Day--outside {
    color: var(--rm-datepicker-other-month__color);
  }

  &:hover,
  &:focus {
    background: var(--rm-datepicker-day__background_hover);
    color: var(--rm-datepicker-day__color_hover);
  }
}

.bp3-popover .bp3-popover-content .bp3-datepicker {
  background-color: var(--rm-datepicker__background-color);
  color: var(--rm-datepicker__color);
}

/* Month and year selectors */

.bp3-html-select.bp3-minimal select {
  background-color: var(--rm-menu__background) !important;
  color: var(--rm-menu__color);

  &:hover {
    background: var(--rm-icon__background-color_hover);
    color: var(--rm-menu__color);
  }
}
