/* Kanban */

.kanban-board {
  background-color: var(--rm-kanban-board__background-color);
}

.kanban-column {
  background-color: var(--rm-kanban-column__background-color);
}

.kanban-title {
  color: var(--rm-kanban-column__color);
}

.kanban-card {
  background-color: var(--rm-kanban-card__background-color);
  color: var(--rm-kanban-card__color);
}

div {
  .kanban-title {
    font-family: var(--rm-main-font__font-family);
  }

  .kanban-card {
    font-family: var(--rm-main-font__font-family);
  }
}
