/* Mermaid diagrams */

.bp3-card {
  background-color: var(--linked-reference__backgound-color_1);
}

.rm-mermaid {
  svg[style*='background-color: rgb(238, 238, 238);'] {
    background-color: transparent !important;
  }

  svg {
    .node rect,
    .node circle,
    .node ellipse,
    .node polygon,
    .node path,
    .actor {
      fill: var(--mermaid-element__fill) !important;
      stroke: var(--mermaid-element__stroke) !important;
      stroke-width: 1px;
    }

    text {
      font-family: var(--main-font__font-family) !important;

      &.actor > tspan {
        fill: var(--main-font__color) !important;
        stroke: none;
      }
    }

    .messageText {
      fill: var(--main-font__color) !important;
      stroke: none !important;
    }

    line {
      stroke: var(--mermaid-element__stroke) !important;
      fill: currentColor;
    }
  }
}

.roam-body .roam-app svg div {
  color: var(--main-font__color);
}

#arrowhead path {
  fill: var(--mermaid-element__stroke) !important;
  // stroke: var(--mermaid-element__stroke) !important;
  stroke: none !important;
}

.arrowheadPath {
  fill: var(--mermaid-path__stroke) !important;
  // stroke: var(--mermaid-path__stroke) !important;
}

.edgePath .path {
  stroke: var(--mermaid-path__stroke) !important;
  stroke-width: 1.5px;
}

.react-resizable-handle-se {
  opacity: 0.7 !important;
  background-color: var(--mermaid-element__fill) !important;
  border: none !important;
}

.react-resizable-handle {
  border-bottom: 3px solid var(--mermaid-element__stroke) !important;
  border-right: 3px solid var(--mermaid-element__stroke) !important;
  background: none !important;
  height: 10px;
  width: 10px;
}
