/* Page Embed */

.rm-embed--page {
  background-color: var(--block-embed__background-color);
  border-radius: 6px;
}
/* Linked References Page Embed */
.rm-embed-container {
  background-color: var(--block-embed__background-color) !important;
}
