/* Query */

.rm-query {
  border: var(--rm-query__border);

  .rm-query-title {
    background-color: var(--rm-linked-reference__backgound-color_1);
    color: var(--rm-query__color_query-string);
    padding: var(--s1);
  }
}
