/* rm-g */

.rm-g.rm-not-focused .rm-block {
  background-color: var(--rm-g__background-color_block);
  margin: 0 0 0 15px; /* fix for expand bullets feature */
}

.rm-g.rm-not-focused.rm-block--open.rm-not-focused > .rm-block__self {
  border-left: 2px solid transparent;
  border-radius: 8px 0px 0px 8px;
}

.rm-g.rm-not-focused.rm-block--open.rm-not-focused
  > .rm-block__self
  > .rm-block__input--view {
  background-color: var(--rm-g__background-color_left-border);
  color: var(--rm-g__background-color_left-border);
  // left: 5px;
  // transform: rotate(90deg) translateY(-1em);
  // transform-origin: top left;
  // padding-left: 10px;
  // margin-left: 7px;
}

// .rm-g.rm-not-focused .rm-page-ref[data-tag='.rm-g'] {
//   display: none;
//   color: green;
// }

// .rm-g.rm-not-focused.rm-block--open > .rm-block__children {
//   margin-left: 0px !important;
//   min-width: 100%;
// }

// .rm-g.rm-not-focused.rm-block--open.rm-focused .rm-block__self {
//   flex: 1 1 100%;
//   width: 100%;
// }

// .rm-g.rm-not-focused.rm-block--closed > .rm-block__self .rm-block-separator {
//   height: 100%;
//   border-left: 2px solid #8a9ba8;
//   border-radius: 50px;
// }
