/* Select Menu */

.rm-option {
  border: 1px solid var(--accent-font__color);
  color: var(--accent-font__color);
  margin: 0 4px;

  &:after {
    border-top: 4px solid var(--accent-font__color);
  }
}
