/* Tags */

.rm-page-ref--tag {
  border-radius: var(--rm-tag__border-radius);
  color: var(--rm-tag__color);
  padding: var(--rm-tag__padding);

  &:hover {
    background-color: var(--rm-tag__background-color_hover);
    color: var(--rm-tag__color_hover) !important;
    text-decoration: none;
  }
}

span {
  &.rm-page-ref.rm-page-ref--tag {
    &:hover {
      background-color: var(--rm-tag__background-color_hover);
      color: var(--rm-tag__color_hover) !important;
      text-decoration: none;
    }
  }
}
