/* Block embed */

.rm-embed-container {
  background-color: var(--reference-item-bg);
  border-radius: 6px;

  .rm-embed-container {
    background-color: var(--reference-item-bg);

    .rm-embed-container {
      background-color: var(--reference-item-bg);
    }
  }
}
