/* Tags */

.rm-page-ref-tag {
  border-radius: var(--tag-radius);
  color: var(--tag-font-color);
  padding: var(--tag-padding);

  &:hover {
    background-color: var(--tag-hover-bg);
    color: var(--tag-font-color-hover) !important;
    text-decoration: none;
  }
}

span {
  &.rm-page-ref.rm-page-ref-tag {
    &:hover {
      background-color: var(--tag-hover-bg);
      color: var(--tag-font-color-hover) !important;
      text-decoration: none;
    }
  }
}
