/* RR change: MINIMIZE QUERIES: add any one of the following tags before the beginning of your query (in the same block):

    #min-title = hides the page reference link / page title
    #min-con = hides the contextual reference information (breadcrumbs)
    #minimal = hides both the title and the context
    #min-q = hides the query string, similar to legacy behavior
    #min-all = hides everything — title, context, and query string
    #min-todo = hides everything and makes a compact list

inspired by Matt Goldenberg */

[data-tag='minimal'] {
  display: none !important;

  + {
    .rm-query {
      .rm-title-arrow-wrapper {
        display: none !important;
      }

      .zoom-mentions-view {
        display: none !important;
      }

      .rm-query-title {
        &::after {
          content: ' #minimal';
        }
      }
    }
  }
}

[data-tag='min-title'] {
  display: none !important;

  + {
    .rm-query {
      .rm-title-arrow-wrapper {
        display: none !important;
      }

      .rm-query-title {
        &::after {
          content: ' #minimal';
        }
      }
    }
  }
}

[data-tag='min-con'] {
  display: none !important;

  + {
    .rm-query {
      .zoom-mentions-view {
        display: none !important;
      }

      .rm-query-title {
        &::after {
          content: ' #minimal';
        }
      }
    }
  }
}

[data-tag='min-q'] {
  display: none !important;

  + {
    .rm-query {
      .rm-query-title {
        display: none !important;
      }
    }
  }
}

[data-tag='min-all'] {
  display: none !important;

  + {
    .rm-query {
      .zoom-mentions-view {
        display: none !important;
      }

      .rm-title-arrow-wrapper {
        display: none !important;
      }

      .rm-query-title {
        display: none !important;
      }
    }
  }
}

[data-tag='min-todo'] {
  display: none !important;

  + {
    .rm-query {
      div {
        &[style*='margin-left: 12px;'] {
          margin-left: 0 !important;
        }
      }

      .zoom-mentions-view {
        display: none !important;
      }

      .rm-title-arrow-wrapper {
        display: none !important;
      }

      .rm-query-title {
        display: none !important;
      }

      .rm-reference-item {
        background: none;
        margin-left: -12px;
        margin-top: 3px;
        padding: 0;
      }
    }
  }
}
