body {
  background-color: var(--body__background-color);
  caret-color: var(--caret__color);
  font-family: var(--main-font__font-family);
  font-size: var(--main-font__font-size);
}

.roam-block-container {
  border-radius: 0px;
}
