body {
  background-color: var(--rm-body__background-color);
  caret-color: var(--rm-caret__color);
  font-family: var(--rm-main-font__font-family);
  font-size: var(--rm-main-font__font-size);
}

.roam-block-container {
  border-radius: 0px;
}
