/* Scrollbars - NOTE: Requires 'gloabl/features/scrollbars/mosaic/main' or 'gloabl/features/scrollbars/simple/main' to be installed */

// :root {
//   --rm-scrollbar-track: #2b2b2b;
//   --rm-scrollbar-thumb: rgba(153, 153, 153, 0.1);
// }

// div::-webkit-scrollbar {
//   width: 2px;
// }

div::-webkit-scrollbar-track {
  background-color: var(--rm-scrollbar-thumb) !important;
}

div::-webkit-scrollbar-thumb {
  background-color: var(--rm-scrollbar-track) !important;
  border-color: var(--rm-scrollbar-thumb);

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: var(--rm-scrollbar-thumb);
  }
}

// div {
//   resize: both;
// }

// div::-webkit-resizer {
//   // background-color: red;
// }
