/* Bullet Collapse
  Provides a larger target for collapsing a block
  Provides better location tracking of which block is currently under the mouse
 */

.roam-block-container {
  position: relative;
  // margin-bottom: 5px;

  .block-border-left {
    border-left: none;
  }

  .rm-block-main {
    // display: table;
    margin-left: 10px;

    .controls {
      display: table-cell;
      position: absolute;
      height: 100%;

      .block-expand {
        opacity: 1;
        display: table-cell;
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: -3px;
        border-left: 1px solid var(--bullet__background-color-outline);

        .bp3-icon-caret-down {
          border-left: 1px solid var(--bullet__background-color-outline);
          // background-color: yellow;
          height: 100%;
          width: 20px;

          &.rm-caret-closed {
            transform: none;
          }

          &:before {
            content: '';
          }

          &:hover {
            // Potential to add better
            border-color: var(--bullet__background-color-outline-highlight);
            border-width: 4px;
          }
        }
      }

      .roam-bullet-closed {
        &.simple-bullet-outer {
          opacity: 1;
          margin-top: 7px;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          background-color: var(--bullet__border_closed);
          left: 9px;

          .simple-bullet-inner {
            position: absolute;
            border-radius: 0px;
            width: 1px;
            left: -13px;
            background-color: var(--bullet__background-color-outline-highlight);
            padding: 9px 0px;
          }
        }
      }

      .simple-bullet-outer {
        position: relative;
        left: 3px;
      }
    }

    span[style*='margin-top: 4px;'] {
      position: absolute;
      // font-size: 0.9rem;
      left: 30px;
      top: -1px;
      // background-color: red;
    }

    .roam-block,
    .rm-block-input {
      margin-left: 25px;
    }
  }

  &:hover > .rm-block__self .controls .block-expand {
    border-left-style: solid;
    border-left-color: var(--bullet__background-color-outline-highlight);
  }

  // &:hover > .rm-query .controls .block-expand {
  //   border-left-style: none;
  // }

  // &:hover > .rm-block-main > div:nth-child(1) .controls .block-expand {
  //   border-left: 1px solid var(--bullet__background-color-outline-hover);
  // }

  // .rm-query:hover > .rm-block__self .controls .block-expand {
  //   border-left-style: solid;
  //   border-left-color: var(--bullet__background-color-outline-hover);
  // }

  &:focus-within > .rm-block__self .controls .block-expand {
    border-left: 1px solid var(--bullet__background-color-outline-hover);
  }

  > .rm-block-main > div:nth-child(1) .rm-bullet .rm-bullet__inner {
    background-color: default;
    width: default;
    height: default;
    border-radius: default;
    transition: width 200ms linear, height 200ms linear, border-radius 200ms linear;
  }
}

.roam-block-container:focus-within
  > .rm-block-main
  > div:nth-child(1)
  .rm-bullet
  .rm-bullet__inner {
  background-color: var(--bullet__background-color-outline-highlight);
  width: 8px;
  height: 3px;
  border-radius: 0;
  transition: width 200ms linear, height 200ms linear, border-radius 200ms linear;
}

.rm-block__self {
  position: static;
}
